@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
}
/* Media queries for skills section */

/* Desktop layout */
@media (min-width: 768px) {
  .skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .skill {
    width: 30%;
    margin: 20px;
    text-align: center;
  }
  .skill h3 {
    font-size: 18px;
    
  }
  .skill p {
    font-size: 14px;
  }
}

/* Tablet layout */
@media (min-width: 480px) and (max-width: 767px) {
  .skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .skill {
    width: 40%;
    margin: 15px;
  }
  .skill h3 {
    font-size: 16px;
  }
  .skill p {
    font-size: 12px;
  }
}

/* Mobile layout */
@media (max-width: 479px) {
  .skills-container {
    display: block;
  }
  .skill {
    width: 100%;
    margin: 10px;
  }
  .skill h3 {
    font-size: 14px;
  }
  .skill p {
    font-size: 10px;
  }
}